<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ias.admin.system.mapper.BackUpMapper">

    <select id="get" resultType="com.ias.admin.system.pojo.BackUpPO">
        select * from sys_backup where id=#{id}
    </select>

    <select id="list" resultType="com.ias.admin.system.pojo.BackUpPO">
        select * from sys_backup
        <where>
            <if test="id != null and id != '' "> and id = #{id}</if>
            <if test="name != null and name != '' ">and name = #{name}</if>
            <if test="backuperId != null and backuperId != '' ">and backuper_id = #{backuperId}</if>
            <if test="backupTime != null and backupTime != '' ">and backup_time = #{backupTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_backup
        <where>
            <if test="id != null and id != '' ">  and id = #{id}</if>
            <if test="name != null and name != '' ">and name = #{name}</if>
            <if test="backuperId != null and backuperId != '' ">and backuper_id = #{backuperId}</if>
            <if test="backupTime != null and backupTime != '' ">and backup_time = #{backupTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.ias.admin.system.pojo.BackUpPO" useGeneratedKeys="true" keyProperty="id">
        insert into sys_backup
        (
        name,
        backuper_id,
        backup_time
        )
        VALUES
        (
        #{name},
        #{backuperId},
        #{backupTime}
        )
    </insert>

    <update id="update" parameterType="com.ias.admin.system.pojo.BackUpPO">
        update sys_backup
        <set>
            <if test="id != null and id != '' "> id = #{id},</if>
            <if test="name != null and name != '' "> name = #{name},</if>
            <if test="backuperId != null and backuperId != '' "> backuper_id = #{backuperId},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_backup where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_backup where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>