<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ias.admin.system.mapper.RoleMapper">

    <select id="get" resultType="com.ias.admin.system.pojo.RolePO">
        select * from
        sys_role where id = #{id}
    </select>

    <select id="list" resultType="com.ias.admin.system.pojo.RolePO">
        select * from sys_role
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="name != null and name != '' ">  and name = #{name}</if>
            <if test="type != null and type != '' "> and type = #{type} </if>
            <if test="note != null and note != '' "> and note = #{note} </if>
            <if test="display != null and display != '' "> and display = #{display}</if>
            <if test="createTime != null and createTIme != '' "> and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_role
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="name != null and name != '' "> and name = #{name}</if>
            <if test="type != null and type != '' ">and type = #{type} </if>
            <if test="note != null and note != '' ">and note = #{note} </if>
            <if test="display != null and display != '' ">and display = #{display}</if>
            <if test="createTime != null and createTIme != '' ">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.ias.admin.system.pojo.RolePO" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role
        (
        name,
        type,
        note,
        sort,
        display,
        create_time
        )
        values
        (
        #{name},
        #{type},
        #{note},
        #{sort},
        #{display},
        #{createTime}
        )
    </insert>

    <update id="update" parameterType="com.ias.admin.system.pojo.RolePO">
        update sys_role
        <set>
            <if test="name != null and name != '' ">name = #{name},</if>
            <if test="type != null and type != '' "> type = #{type}, </if>
            <if test="note != null and note != '' ">note = #{note}, </if>
            <if test="sort != null and sort != '' ">sort = #{sort},</if>
            <if test="display != null and display != '' ">display = #{display}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_role where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_role where id in
        <foreach item="id" collection="array" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>
</mapper>